<a href="https://colab.research.google.com/github/JPrimeAce/Hamoye_AI_labs-DS_Internship_Phase1/blob/master/Hamoye_DS_Phase_1_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
url = 'https://bit.ly/HDSC-StageOneDataset'

In [4]:
fuel_data = pd.read_csv(url)

In [10]:
A = [1,2,3,4,5,6]
B = [13,21,34]

In [ ]:
A_B = A.append(B)
print(A_B)

In [24]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [26]:
fuel_data.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [31]:
ans = sorted(fuel_data[['fuel_type_code_pudl', 'fuel_cost_per_unit_burned']]).tail()

      fuel_type_code_pudl  fuel_cost_per_unit_burned
29518                 gas                       4.78
29519                 gas                       3.65
29520                 gas                       4.77
29521                coal                       3.06
29522                 gas                       0.00

In [46]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [51]:
fuel_data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [37]:
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [38]:
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

In [39]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [40]:
(fuel_data['fuel_unit'].isnull().sum()) / (fuel_data['fuel_unit'].count()) * 100

0.6134342091810653

In [42]:
fuel_data['fuel_unit'].describe()

count     29343
unique        9
top         mcf
freq      11354
Name: fuel_unit, dtype: object

In [52]:
fuel_data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [59]:
ans = fuel_data[fuel_data['report_year'].isin([1998,1994])].groupby(fuel_data['fuel_type_code_pudl'])

In [60]:
print(ans)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f0cb5ad4b00>

In [74]:
fuel_data[['report_year', 'fuel_cost_per_unit_delivered']].sort_values(by=['fuel_cost_per_unit_delivered']).max()

report_year                        2018.0
fuel_cost_per_unit_delivered    7964521.0
dtype: float64